.home {
    &__title {
        margin-bottom: 24px;
        font-size: 28px;
        font-weight: 700;
    }

    &__text {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }
}