@font-face {
    font-family: "Lato";
    src: url("/src/app/static/fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/src/app/static/fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/src/app/static/fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}