.posts {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        & .common-button {
            margin: 0;
        }
    }

    .search {
        margin-bottom: 24px;
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}